<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{% if timers %}{{timers[0].remaining}} - {{timers[0].label}} - {% endif %}Comhairimh</title>
	<meta charset='utf-8'>
	<script>
	setInterval(function() {
		location.reload();
	}, 60000);
	</script>
</head>
<body>
<table>
{% for timer in timers %}
<tr><td>{{timer.label}}</td><td>{{timer.remaining}}</td><td></td></tr>
{% endfor %}
<form action="{{url_for('home')}}"><tr>
	<td></td>
	<td>{{time}}</td>
	<td><input type="submit" value="refresh" /></td>
</tr></form>
<form action="{{url_for('add_timer')}}" method="post"><tr>
	<td><input name="label" /></td>
	<td><input type="time" name="deadline" /></td>
	<td><input type="submit" /></td>
</tr></form>
<form action="{{url_for('add_timer')}}" method="post"><tr>
	<td><input type="hidden" name="pom" value="true" /></td>
	<td></td>
	<td><input type="submit" value="pom"/></td>
</tr></form>
</table>
</body>
</html>
